/*reset css*/
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
ul {
    margin:0;
    padding:0;
}
li {
    list-style-type: none;
}

/*custom css*/
body {
    background-image: url(home_bg2.png);
    background-size: cover;
    padding:22px;
    font-family: 'Roboto Slab', serif;
}

/*.homeBoxInner {*/
/*    opacity:0;*/
/*}*/

.homeBox {
    padding: 12px;
    text-align:center;
    color:white;
    position: relative;
}

.homeBoxInner {
    border:1px solid #fff;
}

.homeTitle {
    margin:190px auto;
    font-size: 5em;
    font-weight: 300;
    line-height: 1.4;
    opacity: 0;
}

.homeTitle .line {
    line-height: 0.1;
    font-size:1.2em;
    vertical-align: top;
}

.homeMenu.mb {
    display:none;
}

.homeBox .homeMenu {
    position: absolute;
    font-size: 1.8em;
    font-weight: 100;
    cursor:pointer;
    z-index: 3;
    opacity:0;
}
.homeBox .homeMenu.left {
    left: 40px;
}
.homeBox .homeMenu.right {
    right:40px;
}
.homeBox .homeMenu.top {
    top:40px;
}
.homeBox .homeMenu.bottom {
    bottom:100px;
}
.center {
    top:40px;
    left: 0;
    right: 0;
    margin: auto;
    font-size:3.2em;
    font-weight: 300;
    display: none;
}
.large {
    font-size:3.2em;
    font-weight: 300;
}

/*section css*/
.section {
    display:none;
    color: #fff;
    position:absolute;
    left: 0px;
    top: 0px;
    text-align:center;
    width: 100%;
    height: 100%;
    font-weight: 100;
    z-index: 100;
}

.section .myInfo {
    font-size: 1.5em;
    display: block;
    top: 140px;
}

.section li {
    margin: 16px 0;
}

.section .mySkills .skillTitle {
    font-weight: 100;
    margin:10px;
    font-size: 1.6em;
}

.section .mySkills {
    font-size: 1.5em;
    display: inline-block;
    left: 0;
    right:0;
    margin: auto;
    margin-top: 360px;
}

.section .skill {
    margin-top:10px;
    margin: 10px 0px 0px 40px;
    display: inline-block;
    width: 320px;
    text-align:left;
}

.section .back {
    position: absolute;
    left: 20px;
    top: 300px;
    z-index:10;
    cursor:pointer;
}

.section .back.btnbottom {
    top:320px;
    left: 55px;
}

.section .myInfo {
    position: absolute;
    left: 0;
    right: 0;
}

.skill .skillItem {
    margin: 24px 0;
}

.skill .start {
    margin-left: 10px;
    display: inline-block;
    width: 0px;
    background-color:rgba(255,255,255,0.3);
    border-left: 1px #fff solid;
    font-size: 0.5em;
    line-height: 2;
    overflow:hidden;
    text-align:right;
    padding-right: 10px;
}

.section.contact .skill.sns {
    margin: 40px;
    width: inherit;
    text-align:center;
}

.section.contact .skill.sns span {
    font-size:0.8em;
}

.section.contact .myInfo {
    margin-top: 20px;
}

/*.section.contact .back {*/
/*    position: absolute;*/
/*    right: -1200px;*/
/*    top: 300px;*/
/*}*/

/*section portfolio*/

.section.portfolio .portfolioMenu{
    position: absolute;
    margin: 0px auto;
    margin-top: 260px;
    left: 0;
    right: 0;
}

.section.portfolio .portfolioItem {
    display: inline-block;
    cursor: pointer;
}

.section.portfolio .portfolioItem:nth-child(2) .itemInner {
    border-bottom:none;
    border-top: 1px #fff solid;
    border-right: 1px #fff solid;
    border-left: 1px #fff solid;
    margin: 0px -5px 0px -4px;
}

.section.portfolio .itemInner {
    font-size: 3em;
    padding: 80px 90px;
    border-bottom: 1px #fff solid;
}

.section.portfolio .itemInner:hover {
    transition: 0.5s;
    background-color: rgba(255,255,255,0.2);
}

/*section resume*/
.section.resume .resumeHistory {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 280px;
}

.section.resume .resumeItem {
    margin-top: -4px;
}

.section.resume .round {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
}
.section.resume .line {
    width: 0em;
    height: 1px;
    background-color: #fff;
    display:inline-block;
    vertical-align: middle;
}

.section.resume .resumeItemName .nameInner{
    display: inline-block;
    margin: 0 1.3em 0 1.3em;
    opacity: 0;
}

.section.resume .resumeItemName .nameInner.resumeBottom {
    width: 190px;
    vertical-align: top;
}

/*.section.resume .resumeItemName .nameInner:nth-child(5){*/
/*    margin: 0 0.2em 0 0em;*/
/*}*/

.section.resume .resumeItemName .resumeDate {
    font-size: 2.5em;
}

@media screen and (max-width: 640px){
    body {
        background-image: url(home_bg_mb.png);
        background-position:center;
        
    }
    .homeTitle {
        margin:164px auto;
        font-size: 2.5em;
    }
    .homeBox {
        padding: 12px;
    }
    .homeMenuIcon {
        background-image: url(plus-icon.png);
        background-size:25px 25px;
        width: 25px;
        height: 25px;
        position:absolute;
        top: 80px;
        left: 0;
        right: 0;
        margin:auto;
        opacity:0;
        transition:0.5s;
    }
    .homeMenuIcon.active {
        transition: 0.5s;
        transform: rotate(45deg);
    }
    
    .homeMenu.dt {
        display: none;
    }
    .homeMenu {
        font-size: 1em;
        font-weight: 100;
        z-index: 3;
        opacity:0;
    }
    .homeMenuInner {
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        left: 0;
        right: 0;
        top: 164px;
        z-index:100;
        padding: 40px 60px;
    }
    
    
}